libreria.dtd

    <!ELEMENT catalogo (libros, revistas, usuarios, prestamos)>
    <!ATTLIST catalogo fecha CDATA "2025-10-04">
    <!ELEMENT libros (libro+)>
    <!ELEMENT libro (titulo, anio, autores, etiquetas?)>
    <!ATTLIST libro id ID #REQUIRED>
    <!ATTLIST libro categoria (novela | tecnico) #REQUIRED>
    <!ATTLIST libro isbn CDATA #REQUIRED>
    <!ATTLIST libro paginas CDATA #IMPLIED>
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT anio (#PCDATA)>
    <!ELEMENT autores (autor+)>
    <!ELEMENT autor (nombre, orcid?)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT orcid (#PCDATA)>
    <!ELEMENT etiquetas (etiqueta+)>
    <!ELEMENT etiqueta (#PCDATA)>
    <!ELEMENT revistas (revista)>
    <!ELEMENT revista (titulo, anio)>
    <!ATTLIST revista id ID #REQUIRED>
    <!ATTLIST revista area (computacion) #REQUIRED>
    <!ATTLIST revista issn CDATA #REQUIRED>
    <!ATTLIST revista numero CDATA #REQUIRED>
    <!ELEMENT usuarios (usuario+)>
    <!ELEMENT usuario (nombre, email)>
    <!ATTLIST usuario id ID #REQUIRED>
    <!ATTLIST usuario tipo (alumno | profesor) #REQUIRED>
    <!ELEMENT nombre (#PCDATA) >
    <!ELEMENT email (#PCDATA) >
    <!ELEMENT prestamos (prestamo+)>
    <!ELEMENT prestamo (fecha_inicio, fecha_fin?, estado)>
    <!ATTLIST prestamo id ID #REQUIRED>
    <!ATTLIST prestamo itemRef IDREF #REQUIRED>
    <!ATTLIST prestamo usuarioRef IDREF #REQUIRED>
    <!ELEMENT fecha_inicio (#PCDATA)>
    <!ELEMENT fecha_fin (#PCDATA)>
    <!ELEMENT estado (#PCDATA)>

    



    
