libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libros"/>
                <xs:element ref="revistas"/>
                <xs:element ref="usuarios"/>
                <xs:element ref="prestamos" />
            </xs:sequence>
            <xs:attribute name="fecha" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="libro">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="titulo" type="nombreLibroRevista"/>
            <xs:element name="anio" type="aniosLibroRevista"/>
            <xs:element ref="autores"/>
            <xs:element ref="etiquetas" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="categoria" type="categoriaLibro" use="required"/>
        <xs:attribute name="isbn" type="tipoIsbn" use="required"/>
        <xs:attribute name="paginas" type="cantidadPaginas" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="autores">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="autor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        <xs:element name="autor">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="nombre" type="tipoNombre"/>
                    <xs:element name="orcid" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="etiquetas"> 
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="etiqueta" type="tipoEtiqueta" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="revistas">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="revista"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="revista">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="titulo" type="nombreLibroRevista"/>
                    <xs:element name="anio" type="aniosLibroRevista"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID" use="required"/>
                <xs:attribute name="area" type="areaRevista" use="required"/>
                <xs:attribute name="issn" type="xs:string" use="required"/>
                <xs:attribute name="numero" type="numeroRevista" use="required"/>
            </xs:complexType>
        </xs:element>

        <xs:element name="usuarios">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="usuario"  maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="usuario">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="nombre" type="tipoNombre"/>
                    <xs:element name="email" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID" use="required"/>
                <xs:attribute name="tipo" type="tipoUsuario" use="required"/>
            </xs:complexType>
        </xs:element>

        <xs:element name="prestamos">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="prestamo"  maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
         <xs:element name="prestamo">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="fecha_inicio" type="xs:date"/>
                    <xs:element name="fecha_fin" type="xs:date" minOccurs="0"/>
                    <xs:element name="estado" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID" use="required"/>
                <xs:attribute name="itemRef" type="xs:string" use="required"/>
                <xs:attribute name="usuarioRef" type="xs:string" use="required"/>
            </xs:complexType>
         </xs:element>

<xs:simpleType name="aniosLibroRevista">
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1000"/>
        <xs:maxInclusive value="2026"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="nombreLibroRevista">
    <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="40"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="cantidadPaginas">
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="6000"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="categoriaLibro">
    <xs:restriction base="xs:string">
        <xs:enumeration value="novela"/>
        <xs:enumeration value="tecnico"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoEtiqueta">
    <xs:restriction base="xs:string">
        <xs:enumeration value="misterio"/>
        <xs:enumeration value="barcelona"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="areaRevista">
    <xs:restriction base="xs:string">
        <xs:enumeration value="computacion"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="numeroRevista">
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="20000"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoNombre">
    <xs:restriction base="xs:string">
        <xs:minLength value="3"/>
        <xs:maxLength value="25"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
        <xs:enumeration value="profesor"/>
        <xs:enumeration value="alumno"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoIsbn">
    <xs:restriction base="xs:string">
        <xs:length value="13"/>
        <xs:pattern value="[0-9]{13}"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoIssn">
    <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{4}-[0-9]{3}[0-9X]"/>
    </xs:restriction>
</xs:simpleType>
</xs:schema>